*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
        font-family: "Poppins", sans-serif;
       
      
}

header{
    background-color: rgba(240, 248, 255, 0.039);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    backdrop-filter: blur(10px);
    align-items:center ;
}

nav{
    
    display: flex;
    justify-content: end;
    padding: 20px;
    flex-direction: row;
}

ul{
    
    display: flex;
    justify-content: end;
    padding: 20px;
    flex-direction: row;
}

header p{ 
    padding: 10px;
    color: aliceblue;
}

body{
    background-image: url(/img/daria-datipina-cQMAiu7ZQ1U-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
}

.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.banner .block-introducao {
    position: relative;
    z-index:1 ;
    max-width: 100%;
    margin: 0 auto;
    
}
 header{
    position: relative;
    z-index:1 ;
    max-width: 100%;
    margin: 0 auto;
    
    
}
.block-introducao{
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.introducao{
    width: 700px;
    height: 420px;
 

}

.introducao  p  {
    color:wheat;
    font-weight: 900;
    text-shadow: 1px 2px 10px black;
  
}
.introducao h1  {
    color: #585dc2;
    font-weight: 900;
    font-size: 97px;
    text-transform: uppercase;
}
.quadrado-all h2 {
    color: wheat;
    margin-bottom: 30px;
}
.quadrado-display{
    display: block;
    cursor: pointer;
    max-width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.quadrado{
    width: 200px;
    height: 200px;
    background-color:rgba(88, 93, 194, 0.299) ;
    border-radius: 30px;
    display: flex;
    padding:20px;
    margin: 10px;
    backdrop-filter: blur(10px);
}

.quadrado p {

    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    font-size: 30px;
    text-transform: lowercase;
    margin: 0 auto;
}

button{
    margin-top: 30px;
    padding: 10px 30px;
    background-color: wheat;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

button h1{
   text-transform: uppercase;
   font-weight: 600;
  
   color: #585dc2;
   text-decoration: none
}

button:hover{
   background-color: #7f83d1;
   color: wheat;
   box-shadow: 1px 2px 10px black;
   transform: matrix(50px);
 }
 

